@import url('https://fonts.google.com/specimen/Manrope');

.App {
  text-align: center;
}

body {
  background-color: hsl(218, 23%, 16%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.advice-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  overflow-wrap: break-word; 
  border-radius: 25px;
  background-color: hsl(217, 19%, 24%);
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
  min-height: 200px;
  max-width: 444px;
}

.advice-text {
  font-family: "Manrope";
  font-weight: 800;
  color: white;
}

.advice-id {
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
  font-size: 10px;
}

.quote {
  font-size: 28px;
}

.svg-container {
  width: fit-content;
}

.circle-base {
  border-radius: 50%;
  margin: 0 auto;
  transform: translate(0, 85%);
}

.icon-circle {
  width: 50px;
  height: 50px;
  background: hsl(150, 100%, 66%);
  display: flex;
  align-items: center;
}

.icon-circle:hover {
  background: hsl(193, 38%, 86%);
  cursor: pointer;
}

.icon {
  margin: 0 auto;
  display: block;
}

.svg-divider {
  padding-top: 50px;
}
